<html>
    <head>
        <title>NatureBase Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
body {
  background-color: #a2d397;
}

div.navcontainer {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.navcontainer a {
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 150px;
  padding-right: 150px;
  text-decoration: none;
}

div.navcontainer a:hover {
  background-color: #777;
}

.overlay {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

</style>
    </head>
    <body>
        <img src ="https://lh3.googleusercontent.com/proxy/NCOuz6-ERxED7wRti52DF1ROkj9BLnGTtye-F3NvwWO6_qgRjQYxkbnwdXbIm1TeMJtAr6pyNwtOcy5kPfkWriOTrB2WfweZQc-dDdlNpTrI92u-XdyVlqdiXWg_3JVJgGkfc53yQs-D0mdPt2QbSAep2gkhQJnS_8QPFvwejw" alt="leaves" class=overlay>
    
    <div class = "container text-center" style="width:60%;margin-top:-35%;padding-bottom:500px">
    
        <div class = "container  bg-success shadow-lg rounded" >
            <h1 class = "display-1">Nature Base</h1>
            <h3>By:Calvin,Martin,Jonathan</h3>    
        </div>
        <div class = "container mt-5 text-center bg-success shadow-lg rounded" >
            <h1 class = "display-3">Animals</h1>
            <a type="button" href="/animal/" class="btn btn-lg btn-outline-dark">All Animals</a>
            <a type="button" href="/animal/1/" class="btn btn-lg btn-outline-dark">Sample Animal</a>
        </div>
        <div class = "container mt-5 text-center bg-success shadow-lg rounded" >
            <h1 class = "display-3">Plants</h1>
            <a type="button" href="/plant/" class="btn btn-lg btn-outline-dark">All Plants</a>
            <a type="button" href="/plant/1/" class="btn btn-lg btn-outline-dark">Sample Plant</a>
        </div>
        <div class = "container mt-5 text-center bg-success shadow-lg rounded" >
            <h1 class = "display-3">Sighting</h1>
            <a type="button" href="/sighting/" class="btn btn-lg btn-outline-dark">View All</a>
        </div>
        <div class = "container mt-5 text-center bg-success shadow-lg rounded" >
            <h1 class = "display-3">Events</h1>
            <a type="button" href="/events/" class="btn btn-lg btn-outline-dark">View All</a>
        </div>
        <div class = "container mt-5 text-center bg-success shadow-lg rounded" >
            <h1 class = "display-3">Consume Animals</h1>
            <a type="button" href="/consumeAnimal/" class="btn btn-lg btn-outline-dark">View All</a>
        </div>
        <div class = "container mt-5 text-center bg-success shadow-lg rounded" >
            <h1 class = "display-3">Consume Plants</h1>
            <a type="button" href="/consumePlant/" class="btn btn-lg btn-outline-dark">View All</a>
        </div>
        <div class = "container mt-5 text-center bg-success shadow-lg rounded" >
            <h1 class = "display-3">Users</h1>
            <a type="button" href="/user/" class="btn btn-lg btn-outline-dark">View All</a>
        </div>
    </div>
    </body>
    </html>