{% extends "baseList.html" %}


{% block tableHead %}
<td >View</td>
<td >Title</td>
<td >Posted By</td>
<td >Location</td>
<td >Post Body</td>
<td >Last Updated</td>
<td >Time Posted</td>
{% endblock %}


{% block tableBody %}
    {% for entity in entity_list %}
    <tr>
        <td><a type="button" href="/sighting/{{ entity.sightID }}/" class="btn btn-outline-primary">View</a></td>
    <td >{{entity.title}}</td>
    <td >{{entity.sightedBy}}</td>
    <td >{{entity.latloc}},{{entity.longloc}}</td>
    <td >{{entity.notes}}</td>
    <td >{{entity.lastUpdated}}</td>
    <td >{{entity.timeRecorded}}</td>
    </tr>
    {% endfor %}
{% endblock %}
