{% extends "entity.html" %}

{% block bellow %}


      {% block tableHead %} {% endblock %}

{% if comments %}
      <h1>Comments </h1>
{% for comment in comments%}

<div class="card bg-dark" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">{{comment.createdBy}} <small>{{comment.postTime}}</small></h5>
    <p class = "card-text">{{comment.content}}</p>
  </div>
</div>
{% endfor %}
{% else %}
<h1>No comments</h1>
{% endif %}


{% if saved %}
      <h1>Saved By user </h1>
      <ul class="list-group list-group-dark">
{% for save in saved %}
<li class="list-group-item list-group-item-dark"> {{save.savedBy}}</li>
{% endfor %}
</ul>
{% else %}
<h1>No Users saved</h1>
{% endif %}

{% endblock %}